Boost.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Boost.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Boost.xcodeproj/xcuserdata/ekmyhythong.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
